body{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 1000px;
}

div.main{
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 640px;
    justify-content: stretch;
}

div.row{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-grow: 1;

}

div.cell{
    flex-grow: 1;
    border: 1px black solid;
}

div.cell:hover, .clicked{
    background-color: green
}

